#sushiBarVisualizationContainer {
    padding: 0;
    position: relative;
    margin: auto;
}

.circle {
    position: absolute;
    align-content: center;
    border-radius: 50%;

    font-weight: bold;
    font-family: Arial, sans-serif;

    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

#sushiTable {
    box-sizing: border-box;
    border: 5px solid darkslategray;
    border-radius: 50%;
    position: absolute;
    background-image: url('../resources/wood.jpg');
    background-repeat: repeat;
}

.circleText {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
    position: relative;
    top: calc(50% - 1em / 2);
}

.circle:hover {
    background-color: bisque;
    z-index: 100;
    border-width: 3px;
}