
* {
    box-sizing: border-box;
}

h2, h3 {
    margin: 0.5em;

}

p {
    margin: 1em;
}

html, body {
    background-color: azure;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-width: 300px;
}

header {
    background-color: rgb(250, 200, 0);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
}

article {
    margin-top: 5em;
    float: left;
    width: 100%;
}

form {
    margin: 1em;
}

button {
    height: 2em;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(250, 200, 0);
    color: black;
    border-color: black;
}

ul {
    padding-left: 1em;
}

li {
    margin-bottom: 1em;
    list-style: none;
    list-style-position: inside;
}

input {
    width: 4em;
    height: 2em;
}

#groupsOverview {
    margin-top: 4em;
}

#inputs, #overview {
    float: left;

}

#overview {
    width: 40%;
    padding: 2em 1em;
    background-color: whitesmoke;
}

#inputs {
    width: 60%;
    padding: 2em 1em;
    background-color: ghostwhite;
}

#placedGroups {
    height: 20em;
    width: fit-content;
    overflow: auto;

}

#errorMessage {
    margin-top: 2em;
    font-style: italic;
    color: rgb(100, 0, 0);
}
footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 1.4em;
    font-size: 0.7em;
}


/* responsive behaviour at 900px screen size*/
@media screen and (max-width: 900px) {
    #overview, #inputs {
        width: 100%;
    }
}

